.header {
  background: $shade-black;
  color: #fff;
  margin-bottom: $m-size;
  padding: $m-size 0;

  @media screen and (min-width: $desktop-transition-point) {
    margin-bottom: $xl-size;
  }
}

.header__title{
  font-size: $l-size;
  margin: 0;
}

.header__subtitle {
  color: $shade-white;
  font-size: $m-size;
  font-weight: 500;
  margin: 0;
}